@charset "utf-8";

.bg_clear{background: -moz-linear-gradient(top,  rgba(0,0,0,0.44) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.44) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.44) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */}
.bg_clear_r{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.44+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.44) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.44) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.44) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#70000000',GradientType=0 ); /* IE6-9 */}

.pop_full_pic{position:fixed; width:100%; height:100%; background:#000 url('http://image.club5678.com/imgs/bbjang/img01/img_ver_pic.jpg') 50% 50% no-repeat; background-size:contain;}
/*.pop_full_pic{position:fixed; width:100%; height:100%; background:#000 url('http://image.club5678.com/imgs/bbjang/img01/img_wid_pic.jpg') 50% 50% no-repeat; background-size:contain;}*/
.pop_full_pic .water_mk{position:relative; width:100%; height:calc(100% - 115px); background:url('http://image.club5678.com/imgs/bbjang/img01/img_water_mk.png') 50% 50% no-repeat; z-index:100; background-size:73px 75px;}
.pop_full_pic .bottom_pic{position:relative; width:100%; height:70px;}
.pop_full_pic .bottom_pic .pic_prev{position:absolute; width:23px; height:23px; left:14px; bottom:14px;}
.pop_full_pic .bottom_pic .pic_prev a{width:23px; height:23px; background:url('http://image.club5678.com/imgs/bbjang/img01/btn_pic_left.png') no-repeat; background-size:23px 23px;}
.pop_full_pic .bottom_pic .pic_prev a:active{position:relative; top:1px;}
.pop_full_pic .bottom_pic .pic_next{position:absolute; width:23px; height:23px; right:14px; bottom:14px;}
.pop_full_pic .bottom_pic .pic_next a{width:23px; height:23px; background:url('http://image.club5678.com/imgs/bbjang/img01/btn_pic_right.png') no-repeat; background-size:23px 23px;}
.pop_full_pic .bottom_pic .pic_next a:active{position:relative; top:1px;}
.pop_full_pic .bottom_pic p.pic_num{position:absolute; width:100%; bottom:16px; font-size:19px; color:#fff; text-align:center;}