@charset "utf-8";

/*--------------------------------------------------- 상세 등록사진창 ---------------------------------------------------*/

.bg_clear{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.47) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.bg_clear_r{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}



/*.pop_full_pic{position:fixed; width:100%; height:100%; background:#000 url('http://image.club5678.com/imgs/bbjang/img01/img_ver_pic.jpg') 50% 50% no-repeat; background-size:contain;}*/
.pop_full_pic{position:fixed; width:100%; height:100%; background:#000 url('http://image.club5678.com/imgs/bbjang/img01/img_wid_pic.jpg') 50% 50% no-repeat; background-size:contain;}
.pop_full_pic .water_mk{position:relative; width:100%; height:calc(100% - 115px); background:url('http://image.club5678.com/imgs/bbjang/img01/img_water_mk.png') 50% 50% no-repeat; z-index:100; background-size:73px 75px;}
.pop_full_pic .bottom_pic{position:relative; width:100%; height:70px;}
.pop_full_pic .bottom_pic .pic_prev{position:absolute; width:23px; height:23px; left:14px; bottom:14px;}
.pop_full_pic .bottom_pic .pic_prev a{width:23px; height:23px; background:url('http://image.club5678.com/imgs/bbjang/img01/btn_pic_left.png') no-repeat; background-size:23px 23px;}
.pop_full_pic .bottom_pic .pic_prev a:active{position:relative; top:1px;}
.pop_full_pic .bottom_pic .pic_next{position:absolute; width:23px; height:23px; right:14px; bottom:14px;}
.pop_full_pic .bottom_pic .pic_next a{width:23px; height:23px; background:url('http://image.club5678.com/imgs/bbjang/img01/btn_pic_right.png') no-repeat; background-size:23px 23px;}
.pop_full_pic .bottom_pic .pic_next a:active{position:relative; top:1px;}
.pop_full_pic .bottom_pic p.pic_num{position:absolute; width:100%; bottom:16px; font-size:19px; color:#fff; text-align:center;}
/*--------------------------------------------------- 상세 등록사진창 ---------------------------------------------------*/

/*--------------------------------------------------- 등록유의사항 ---------------------------------------------------*/
.pop_rg_info{position:relative; width:100%; height:100%; background:#585c5e;}

.rg_info_1{position:relative; padding:24px 15px 9px 15px; background:#fff;}
.rg_info_1 .info_list_1{padding-bottom:15px;}
.rg_info_1 .info_list_1 h2.rg_info_tit{margin-bottom:6px; font-size:14px; letter-spacing:-0.5px;}
.rg_info_1 .info_list_1 p.rg_info_txt{font-size:13px; line-height:18px; letter-spacing:-0.5px;}

.rg_info_2{position:relative; background:#585c5e; padding:15px 26px 28px 26px;}
.rg_info_2 p.rg_info_txt2{font-size:13px; line-height:18px; letter-spacing:-0.5px; color:#fff; text-align:center;}
.rg_info_2 p.rg_info_txt2 span{font-weight:bold; line-height:27px;}

@media(min-width:360px){
.rg_info_1{padding:24px 24px 9px 24px;}
.rg_info_1 .info_list_1 h2.rg_info_tit{font-size:15px;}
.rg_info_1 .info_list_1 p.rg_info_txt{font-size:14px; line-height:20px;}
.rg_info_2 p.rg_info_txt2{font-size:14px; line-height:18px;}
}

@media(min-width:414px){
.rg_info_1{padding:24px 28px 9px 28px;}
.rg_info_1 .info_list_1 p.rg_info_txt{font-size:14px; line-height:22px;}
.rg_info_2{padding:30px 54px 28px 54px;}
}

@media(min-width:768px){
.rg_info_1{padding:40px 40px 10px 40px;}
.rg_info_1 .info_list_1{padding-bottom:30px;}
.rg_info_2{padding:40px 54px 28px 54px;}
.rg_info_2 p.rg_info_txt2{font-size:13px; line-height:18px; letter-spacing:-0.5px; color:#fff; text-align:center;}
}
/*--------------------------------------------------- 등록유의사항 ---------------------------------------------------*/

/*--------------------------------------------------- 등록하기_사진새창보기 ---------------------------------------------------*/
.header_pt_txt{width:100%; height:100%; line-height:45px; box-sizing:border-box; color:#fff; font-size:18px; text-align:center;}
.header_pt_cls{position:absolute; right:10px; top:7.5px;}
.header_pt_cls a{padding:8px 12px 6px 12px; border:1px solid #7accf5; border-radius:4px; box-sizing:border-box; background:#3db5f1; font-size:14px; line-height:14px; color:#fff;}
.header_pt_cls a:active{position:relative; top:1px;}
.header_pt_cls a_active{position:relative; top:1px;}

/*.pop_pic_set{position:fixed; width:100%; height:100%; background:#000 url('http://image.club5678.com/imgs/bbjang/img01/img_ver_pic.jpg') 50% 50% no-repeat; background-size:contain;}*/
.pop_pic_set{position:fixed; width:100%; height:100%; background:#000 url('http://image.club5678.com/imgs/bbjang/img01/img_wid_pic.jpg') 50% 50% no-repeat; background-size:contain;}

.bottom_pic_set{position:absolute;  width:100%; height:auto; bottom:10px;}
.bottom_pic_set .pic_cncl{float:left; margin-left:10px;}
.bottom_pic_set .pic_cncl a{padding:8px 30px; background:#f0f3f5; border-radius:4px; font-size:16px; color:#565d61;}
.bottom_pic_set .pic_cncl a:active{position:relative; background:#f5f7f7; top:1px;}
.bottom_pic_set .pic_cncl a_active{position:relative; background:#f5f7f7; top:1px;}
.bottom_pic_set .pic_dlt{float:right; margin-right:10px;}
.bottom_pic_set .pic_dlt a{padding:8px 30px; background:#8b8b8b; border-radius:4px; font-size:16px; color:#fff;}
.bottom_pic_set .pic_dlt a:active{position:relative; background:#808080; top:1px;}
.bottom_pic_set .pic_dlt a_active{position:relative; background:#808080; top:1px;}
/*--------------------------------------------------- 등록하기_사진새창보기 ---------------------------------------------------*/

/*--------------------------------------------------- 등록하기_이미지멀티선택업로드 ---------------------------------------------------*/
.pop_pic_slct{position:fixed; width:100%; height:100%; overflow:auto;}

.header_pic_slct{position:fixed; width:100%; height:auto; background:#fff; border-bottom:1px solid #757c80; z-index:100;}
.header_pic_slct h1.header_slct_txt{padding:12px 0; font-size:16px; color:#5f676b; text-align:center;}
.header_pic_slct .slct_set{position:relative; margin-bottom:10px;}
.header_pic_slct .slct_set img{float:left; margin-left:14px;}
.header_pic_slct .slct_set select{display:inline-block; width:auto; background:url('http://image.club5678.com/imgs/bbjang/img01/ico_slct.png') 100% bottom no-repeat; background-size:7px 7px; margin-left:5px;  border-radius:0; border:none; padding-right:10px; font-size:15px; line-height:15px; color:#323638; font-weight:bold; outline:none;}
#width_tmp_select{display:none;} 

.pic_layout{position:relative; width:100%; height:calc(100% - 114px); top:65px; overflow:auto}
.pic_layout ul.pic_line1{position:relative; width:100%; height:auto; overflow:auto;}
.pic_layout ul.pic_line1 li.pic_one{float:left; width:33%; padding-bottom:calc(33% - 24px); background-position:center center; overflow:hidden;}
.pic_layout ul.pic_line1 li.mg_05{margin-bottom:0.5%;}
.pic_layout ul.pic_line1 li.mg_all{margin:0 0.5% 0.5% 0.5%;}
.pic_layout ul.pic_line1 li input{position:absolute;}
.pic_layout ul.pic_line1 li.pic_one .chk_wrap{position:absolute; right:10px; top:10px;}
.pic_layout ul.pic_line1 li.pic_one .chk_wrap label{display:block;}

.pic_layout ul.pic_line1 li.pic_thumb_1{background:url('http://image.club5678.com/imgs/bbjang/img01/ex_pic_1.jpg') center center no-repeat; background-size:cover;}
.pic_layout ul.pic_line1 li.pic_thumb_2{background:url('http://image.club5678.com/imgs/bbjang/img01/ex_pic_2.jpg')no-repeat; background-size:cover;}
.pic_layout ul.pic_line1 li.pic_thumb_3{background:url('http://image.club5678.com/imgs/bbjang/img01/ex_pic_3.jpg')no-repeat; background-size:cover;}
.pic_layout ul.pic_line1 li.pic_thumb_4{background:url('http://image.club5678.com/imgs/bbjang/img01/ex_pic_4.jpg')no-repeat; background-size:cover;}
.pic_layout ul.pic_line1 li.pic_thumb_5{background:url('http://image.club5678.com/imgs/bbjang/img01/ex_pic_5.jpeg')no-repeat; background-size:cover;}


/* 하단버튼 */
.bottom_pic_set2{position:fixed; width:100%; padding:7px 0; bottom:0; background:rgba(255,255,255,0.85);}
.bottom_pic_set2 .btn_pic_cncl{float:left; width:165px; margin-left:10px; text-align:center;}
.bottom_pic_set2 .btn_pic_cncl a{padding:8px 0; background:#8b8b8b; border-radius:4px; font-size:16px; color:#fff;}
.bottom_pic_set2 .btn_pic_cncl a:active{position:relative; background:#808080; top:1px;}
.bottom_pic_set2 .btn_pic_cncl a_active{position:relative; background:#808080; top:1px;}
.bottom_pic_set2 .btn_pic_ok{float:right; width:165px; margin-right:10px; text-align:center;}
.bottom_pic_set2 .btn_pic_ok a{padding:8px 0; background:#0ca2ed; border-radius:4px; font-size:16px; color:#fff;}
.bottom_pic_set2 .btn_pic_ok a:active{position:relative; background:#0b91d4; top:1px;}
.bottom_pic_set2 .btn_pic_ok a_active{position:relative; background:#0b91d4; top:1px;}
/* 하단버튼 */

/* 체크박스 */
.chk_gallery{position:relative; float:right; top:5px;}
.chk_gallery .chk_pic {position:absolute; z-index:1; display:block; width:100%; height:100%; opacity:0;}
.chk_gallery .chk_lb2 {position:relative; display:inline-block; width:auto; height:24px; line-height:24px; padding-left:30px; background:url('http://image.club5678.com/imgs/bbjang/img01/chk_pic_off.png') no-repeat left center; background-size:24px 24px; vertical-align:middle;}
.chk_gallery .chk_pic:checked ~ .chk_lb2 {position:relative; display:inline-block; width:auto; height:24px; line-height:24px; padding-left:30px; background:url('http://image.club5678.com/imgs/bbjang/img01/chk_pic_on.png') no-repeat left center; background-size:24px 24px; vertical-align:middle;}
/* 체크박스 */
/*--------------------------------------------------- 등록하기_이미지멀티선택업로드 ---------------------------------------------------*/